{{#bs-navbar type="dark" backgroundColor="dark" collapsed=collapsed onCollapse=(action (mut collapsed) true) onExpand=(action (mut collapsed) false) as |navbar|}}
  <div class="navbar-header">
    {{navbar.toggle}}
    {{#link-to "index" class="navbar-brand"}}Things to Do{{/link-to}}
  </div>
  {{#navbar.content}}
    {{#navbar.nav as |nav|}}
      {{#nav.item}}{{#nav.link-to "index"}}Today{{/nav.link-to}}{{/nav.item}}
      {{#nav.item}}{{#nav.link-to "upcoming"}}Upcoming{{/nav.link-to}}{{/nav.item}}
      {{#nav.item}}{{#nav.link-to "anytime"}}Anytime{{/nav.link-to}}{{/nav.item}}
      {{#nav.item}}{{#nav.link-to "logbook"}}Logbook{{/nav.link-to}}{{/nav.item}}
      {{#nav.item}}{{#nav.link-to "trash"}}Trash{{/nav.link-to}}{{/nav.item}}
    {{/navbar.nav}}
  {{/navbar.content}}
{{/bs-navbar}}

<div style="width: 50%; float: left;">
  {{#bs-accordion as |acc|}}
    {{#each model as |task|}}
      {{#acc.item value=task.id title=task.name}}
        <p>
          Notes: {{task.notes}}
        </p>
        <p>
          Time: {{task.time}}
        </p>
      {{#bs-button type="info"}}Edit{{/bs-button}}
      <div style="float: right; margin-bottom: 10px;">
        {{#bs-button type="success"}}Done{{/bs-button}}
        {{#bs-button type="danger"}}Delete{{/bs-button}}
      </div>
      <!-- <button type="button" name="Delete" style="float: right; margin-bottom: 10px; border-radius: 8px; color: white; background-color: #f44336; padding: 6px;">Done</button> -->
      <!-- <button type="button" name="Delete" style="float: right; margin-bottom: 10px; border-radius: 8px; color: white; background-color: #f44336; padding: 6px;">Delete</button> -->
      {{/acc.item}}
    {{/each}}
  {{/bs-accordion}}
</div>
<div style="width: 50%; float: right">
  <div style="font-size: 50pt; width: 1200px; margin: auto; padding: 500px 0; text-align: center;">
    <p>
      You Have 6 Tasks remaining for today!
    </p>
    <p>
      Time remaining for today:
    </p>
    <p id="timeremaining"></p>
  </div>
</div>
{{outlet}}
